@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
  0% {
    left: 0%;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.2;
  }
}
